.top {
    background-color: yellow;
    width: 100%;
}
.top .slogan{
    width: 40%;
}
.top .cart{
    width: auto;
    padding: 0 10px;
}
.cart div {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid darkgray;
}
.logo{
    width: 30%;
    background-color: black;
}
.navbar .logo{
    background-color: black;
    width: 10%;
}

li.nav-item{
    width: max-content;
}
